/**
 * Admin bar
 * > Single site
 */
#wp-admin-bar-site-name > .ab-item {
        padding-left: 8px !important;
    }
#wp-admin-bar-site-name > .ab-item::before {
            content: '\f11f' !important;
        }
/**
 * Admin bar
 * > Sites
 */
#wp-admin-bar-my-sites > .ab-item {
        padding-left: 8px !important;
    }
#wp-admin-bar-my-sites > .ab-item::before {
            content: '\f326' !important;
        }
/**
 * Editor
 * > Toolbar
 */
.wp-admin .mce-menu-item.mce-menu-item-preview {
    }
.wp-admin .mce-menu-item.mce-menu-item-preview.mce-active {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        border-left: none;
    }
.wp-admin .mce-menu-item.mce-menu-item-preview.mce-active::after {
            content: '\f15e';

            font-family: dashicons;
        }
.wp-admin .mce-menu-item.mce-menu-item-preview.mce-active .mce-text,
    .wp-admin .mce-menu-item.mce-menu-item-preview.mce-active .mce-ico {
        color: #fff;
    }
.wp-admin .mce-menu-item.mce-menu-item-preview.mce-active .mce-text {
        width: 100%;
    }
/**
 * Display ACF field labels as headings
 */
.acf-field.label-as-title > .acf-label label {
            font-size: 23px;
            font-weight: 400;
            line-height: 1.3;
            color: #1d2327;
        }
/**
 * Hide ACF field labels
 */
.hide-label > .acf-label label {
            display: none;
        }
/**
 * ACF WYSIWYG field editor sizes
 */
.acf-field-wysiwyg.editor--s iframe {
    height: 120px !important;
    min-height: 0 !important;
}
.login h1 a {
        background-image: url(../img/admin-brand--black.svg);
        background-size: contain;
    }
#wp-admin-bar-site-name > .ab-item.ab-item.ab-item.ab-item {
        display: block;
        width: 160px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        overflow: hidden;

        white-space: nowrap;
        text-indent: 300%;
    }
#wp-admin-bar-site-name > .ab-item.ab-item.ab-item.ab-item::before {
            content: ' ' !important;
            position: absolute;
            top: 0 !important;
            left: 0;

            width: 100% !important;
            height: 100%;
            margin: 0;
            padding: 0;

            background-repeat: no-repeat;
            background-position: center center;
            background-color: #7a10c2;
            background-size: auto 60%;
            background-image: url(../img/admin-brand--white.svg) !important;

            opacity: 1;
        }
.folded #wp-admin-bar-site-name > .ab-item.ab-item.ab-item.ab-item {
            width: 36px !important;
        }
.folded #wp-admin-bar-site-name > .ab-item.ab-item.ab-item.ab-item::before {
                width: 36px;
            }
@media screen and (max-width: 782px) {
        #wp-admin-bar-site-name > .ab-item.ab-item.ab-item.ab-item {
            width: 52px !important;
        }
            .folded #wp-admin-bar-site-name > .ab-item.ab-item.ab-item.ab-item {
                width: 52px !important;
            }
    }

/*# sourceMappingURL=sourcemaps/admin.css.map */