// links
a {
	color: @color--link;
	text-decoration: none;


	&:visited {
		color: desaturate( @color--link, 5% );
	}

	&:hover,
	&:focus {
		text-decoration: underline;
		outline: 0; // do somethig else for a11y
	}

	&:active {

	}
}

// selection
::selection {
	color: @color--bg;
	background: @color--link;
}

// headings
h1,
h2,
h3,
h4,
h5 {
	margin: 0 0 1em 0;

	line-height: 1;

	& > a {

		&:hover,
		&:focus {

		}
	}
}

h1 {

	& > a {

		&:hover,
		&:focus {

		}
	}
}

h2 {

	& > a {

		&:hover,
		&:focus {

		}
	}
}

h3 {

	& > a {

		&:hover,
		&:focus {

		}
	}
}

h4 {

	& > a {

		&:hover,
		&:focus {

		}
	}
}