.inline-content {
    p {

        &:last-child {

        }
    }


    // images
    img.inline-image {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 0 1em;
    }

    figure.inline-image {
        max-width: 100%;
        margin: 0 0 1em;

        & > img {
            display: block;
            width: 100%;
            height: auto;
            margin: 0;
        }

        & > figcaption {

        }
    }

    // gallery
    .inline-gallery {
        margin: 1em 0;
    }

    .inline-gallery-image {
        width: 25%;
        margin: 0 0 1em;
    }

    .inline-gallery-image-image {
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
    }
}
