// <nav>
.nav--footer-primary {

}

// skip link
.nav-skip--footer-primary {
    .hide-but-read;
}

.nav-list--footer-primary {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.nav-list--footer-primary > li {

}

.nav-list--footer-primary > li a {

    &:hover,
    &:focus {

    }
}

.nav-list--footer-primary > li.current_menu_item a,
.nav-list--footer-primary > li.current_menu_parent a {

    &:hover,
    &:focus {

    }
}
