// <nav>
.nav--footer {

}

// skip link
.nav-skip--footer {

}

// <ul>
.nav-list--footer {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

// <li>
.nav-list-item--footer  {

    & > a {

        &:hover,
        &:focus {

        }
    }

    &.current_menu_item,
    &.current_menu_parent {

        & > a {

            &:hover,
            &:focus {

            }
        }
    }
}
