// <nav>
.nav--footer-primary {

}

// skip link
.footer-primary-skip {
	.hide-but-read;
}

.footer-primary-list {
	margin: 0;
	padding: 0;
	
	list-style-type: none;
}

.footer-primary-list > li {

}

.footer-primary-list > li a {
	

	&:hover,
	&:focus,
	&:active {

	}
}

.footer-primary-list > li.current_menu_item a,
.footer-primary-list > li.current_menu_parent a {

	&:hover,
	&:focus,
	&:active {

	}
}