html,
body {
    min-height: 100%;

    background-color: var(--color--bg);
}

html {
    font-family: var(--type--font-1);
    font-size: 100%;
    line-height: var(--type--line-height);
    color: var(--color--text);

    // Enhanced typography
    font-kerning: normal;
    font-variant: common-ligatures; // https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/OpenType_fonts_guide
    text-size-adjust: 100%;
}

body {
}

.shell {
    width: 90%;
    max-width: 64em;
    margin: 0 auto;
    padding: 2em 0;
}

// Selection
::selection {
    color: var(--color--bg);

    background-color: var(--color--text);
}

// focus style
*:focus-visible {
    @mixin focus;
}
