a {
    color: var(--color--link);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: color(var(--color--link) tint(35%));
    }

    &:focus-visible {
    }

    &:active {
    }

    &:visited {
        color: color(var(--color--link) tint(25%));
    }
}
