a {
    color: var(--color--link);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: var(--color--link);
    }

    &:focus-visible {
    }

    &:active {
    }

    &:visited {
        color: var(--color--link);
    }
}
