// <nav>
.NavFooter {
}

// skip link
.NavFooter-skip {
}

// <ul>
.NavFooter-list {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

// <li>
.NavFooter-list-item {
    & > a {
        &:hover,
        &:focus {
        }
    }

    &.current_menu_item,
    &.current_menu_parent {
        & > a {
            &:hover,
            &:focus {
            }
        }
    }
}
