.posts {

}

.post {
    margin: 0 0 1rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.post-title {

}

.post-content {

}

.post-image {
    margin: 0 0 1rem;
}

.post-image-img {
    display: block;
    width: 100%;
    height: auto;

    opacity: 0;

    transition-property: opacity;
    transition-duration: 150ms;

    &.lazyloaded {
    	opacity: 1;
    }
}
