.Posts {
}

.Post {
    margin: 0 0 1rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.Post-title {
}

.Post-content {
}

.Post-image {
    margin: 0 0 1rem;
}

.Post-image-img {
    display: block;
    width: 100%;
    height: auto;

    opacity: 0;

    transition-property: opacity;
    transition-duration: 150ms;

    &.lazyloaded {
        opacity: 1;
    }
}
