// skip link
.HeaderNav-skip {
    @mixin a11y--hidebutread;
}

// toggle
.HeaderNav-toggle {
    display: none;

    @media (--viewport--smaller) {
    }
}

// <nav>
.HeaderNav {
    @media (--viewport--smaller) {
    }
}

// <ul>
.HeaderNav-list {
    margin: 0 0 1rem 0;
    padding: 0;

    list-style-type: none;

    @media (--viewport--smaller) {
    }
}

// <li>
.HeaderNav-list-item {
    & > a {
        &:focus-visible {
        }
    }

    &.current-menu-item,
    &.current-menu-parent {
        & > a {
            &:focus-visible {
            }
        }
    }

    @media (--hover) {
        & > a {
            &:hover {
            }
        }

        &.current-menu-item,
        &.current-menu-parent {
            & > a {
                &:hover {
                }
            }
        }
    }

    @media (--viewport--smaller) {
    }
}

// submenu
.HeaderNav-list ul {
    margin: 0 0 0 1rem;
    padding: 0;

    list-style-type: none;

    @media (--viewport--smaller) {
    }
}
