// <nav>
.FooterNav {
}

// skip link
.FooterNav-skip {
}

// <ul>
.FooterNav-list {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

// <li>
.FooterNav-list-item {
    & > a {
        &:focus-visible {
        }
    }

    &.current_menu_item,
    &.current_menu_parent {
        & > a {
            &:focus-visible {
            }
        }
    }

    @media (--hover) {
        & > a {
            &:hover {
            }
        }

        &.current_menu_item,
        &.current_menu_parent {
            & > a {
                &:hover {
                }
            }
        }
    }
}
