@define-mixin actions--none {
    pointer-events: none;
    touch-action: none;
}

@define-mixin actions--auto {
    pointer-events: auto;
    touch-action: auto;
}

@define-mixin select--none {
    user-select: none;
}

@define-mixin select--auto {
    user-select: auto;
}

@define-mixin scroll--x {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

@define-mixin scroll--y {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
