@custom-media --type--fluidsize--min--mq (min-width: 1440px);

:root {
    // type family
    --type--family--1: sans-serif;
    --type--family--2: serif;

    // type scale
    --type--scale---2: 0.75rem;
    --type--scale---1: 0.875rem;
    --type--scale--0: 1rem;
    --type--scale--1: 1.25rem;
    --type--scale--2: 1.75rem;
    --type--scale--3: 2.5rem;

    --type--line-height--0: 1;
    --type--line-height--1: 1.3;

    // typ fluid size
    --type--base-size: 14;
    --type--fluidsize--min: 1280;

    @media (max-width: 800px) {
        --type--base-size: 14;
    }
}

html {
    @mixin type--family--1;
    font-size: max(
        calc(1 * var(--type--base-size) * 1px),
        calc(1 * var(--type--base-size) / var(--type--fluidsize--min) * 100vw)
    );
    line-height: var(--type--line-height--1);
    color: var(--color--text);

    // Enhanced typography
    font-kerning: normal;
    font-variant: common-ligatures; // https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/OpenType_fonts_guide
    text-size-adjust: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
