/**
 * Admin Bar
 */

// site title
#wp-admin-bar-site-name {
    & > a {
        padding-left: 8px !important;

        &::before {
            content: '\f11f' !important;
        }
    }
}

/**
 * ACF
 */

// emphasize field label with class .label-as-title
.acf-field.label-as-title {
    & > .acf-label {
        & label {
            font-size: 23px;
            font-weight: 400;
            line-height: 1.3;
            color: #1d2327;
        }
    }
}

/**
 * Improve UX of the classic editor's format dropdown
 *
 */
.wp-admin {
    .mce-menu-item.mce-menu-item-preview {
    }
    .mce-menu-item.mce-menu-item-preview.mce-active {
        display: flex;
        align-items: center;

        border-left: none;

        &::after {
            content: '\f15e';

            font-family: dashicons;
        }
    }

    .mce-menu-item.mce-menu-item-preview.mce-active .mce-text,
    .mce-menu-item.mce-menu-item-preview.mce-active .mce-ico {
        color: #fff;
    }

    .mce-menu-item.mce-menu-item-preview.mce-active .mce-text {
        width: 100%;
    }
}
