//
// A11n
//
@define-mixin hide-but-read {
    position: absolute;
    left: -9999em;
    top: auto;

    width: 1px;
    height: 1px;

    overflow: hidden;

    &:focus {
        left: 0;
        top: 0;
        width: auto;
        height: auto;
    }
}

@define-mixin focus {
    outline: 2px solid var ( --color--link );
    outline-offset: 2px;
}

@define-mixin no-focus {
    outline: none;
}


//
// Layout
//
@define-mixin pseudo-box {
    content: ' ';

    position: absolute;
    left: 0;
    top: 0;

    display: block;
}


//
// Scroll
//
@define-mixin scroll {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

@define-mixin scroll--x {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

@define-mixin scroll--y {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}



//
// Images
//
@define-mixin svg $filename {
    background-image: url( img/$(filename).svg );
    background-image: svg-load( '../img/$(filename).svg' );
}
