:root {

	//
	// Colors
	//
	--color--bg: #ffffff;
	--color--text: #000000;
	--color--link: #ff0000;


	//
	// Typography
	//
	--font--1: sans-serif;
	--font--2: serif;

	--line-height: 1.3;


	//
	// Breakpoints and Media Queries
	//
	--medium: 1080px;
	--smaller: 690px;


	//
	// Transitions
	//
	--transition-duration: 250ms;



	//
	// Easing
	//
	--easing--out: cubic-bezier( 0.165, 0.84, 0.44, 1 ); // https://easings.net/en#easeOutQuart

}
