/**
 * Admin bar
 * > Single site
 */
#wp-admin-bar-site-name {
    & > .ab-item {
        padding-left: 8px !important;

        &::before {
            content: '\f11f' !important;
        }
    }
}

/**
 * Admin bar
 * > Sites
 */
#wp-admin-bar-my-sites {
    & > .ab-item {
        padding-left: 8px !important;

        &::before {
            content: '\f326' !important;
        }
    }
}
