.login h1 {
    & a {
        background-image: url(../img/admin-brand--black.svg);
        background-size: contain;
    }
}

#wp-admin-bar-site-name {
    & > .ab-item.ab-item.ab-item.ab-item {
        display: block;
        width: 160px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        overflow: hidden;

        white-space: nowrap;
        text-indent: 300%;

        &::before {
            content: ' ' !important;
            position: absolute;
            top: 0 !important;
            left: 0;

            width: 100% !important;
            height: 100%;
            margin: 0;
            padding: 0;

            background-repeat: no-repeat;
            background-position: center center;
            background-color: #7a10c2;
            background-size: auto 60%;
            background-image: url(../img/admin-brand--white.svg) !important;

            opacity: 1;
        }
    }

    .folded & {
        & > .ab-item.ab-item.ab-item.ab-item {
            width: 36px !important;

            &::before {
                width: 36px;
            }
        }
    }

    @media screen and (max-width: 782px) {
        & > .ab-item.ab-item.ab-item.ab-item {
            width: 52px !important;
        }

        .folded & {
            & > .ab-item.ab-item.ab-item.ab-item {
                width: 52px !important;
            }
        }
    }
}

.wp-admin.index-php #wpbody {
    min-height: 80vh;

    & > * {
        position: relative;
        z-index: 10;
    }

    &::after {
        content: ' ';

        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 0;

        width: 80vh;
        height: 80vh;
        margin: auto auto;

        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../img/admin-brand--black.svg);

        opacity: 0.05;

        pointer-events: none;
        touch-action: none;
    }

    @media (orientation: portrait) {
        &::after {
            width: 80vw;
            height: 80vw;
        }
    }
}
